* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-style: normal;
}

button {
  border: none;
  outline: none;
}

.item {
  background-color: #F6F6FE;
  border-radius: 8px;
  list-style-type: none;
  margin: 24px auto;
  padding: 16px;
  max-width: 392px;

}

.item h2 {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin: 0;
}

.item li {
  list-style-type: none;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
}

.item ul {
  padding: 0;
}

/* Task 2 */

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 48px 24px;
  margin: 0 auto;
}

.gallery li {
  list-style-type: none;
  width: calc((100% - 48px) / 3);
}

.gallery li img {
  width: 360px;
  height: 300px;
}

/* Task 3 */

#name-input {
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin-bottom: 16px;
}

#name-input:hover {
  border: 1px solid #000;
}

#name-input:active {
  border: 1px solid #808080;
}

#name-input::placeholder {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#name-input+h1 {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04;
  margin: 0;
}

/* Task 4 */

.login-form {
  padding: 24px;
}

.login-form label {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.login-form input {
  display: block;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}

.login-form button {
  margin-top: 8px;
  border-radius: 8px;
  background: #4E75FF;
  width: 86px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04;
  padding: 8px 16px;
}

.login-form button:hover {
  border: 1px solid #000;
}

.login-form button:active {
  border: 1px solid #808080;
}

.login-form button:hover {
  background: #6C8CFF;
}

/* Task 5 */

.widget {
  padding: 100px 88px;
}

.widget p {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.widget button {
  border-radius: 8px;
  background: #4E75FF;
  width: 148px;
  padding: 8px 16px;
  border: none;
  outline: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04;
}

.widget button:active {
  border: 1px solid #808080;
}

.widget button:hover {
  background: #6C8CFF;
}

/* Task 6 */

#controls {
  width: 486px;
  border-radius: 8px;
  background: #F6F6FE;
  padding: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

#controls input {
  border-radius: 8px;
  border: 1px solid #808080;
  text-align: center;
  width: 150px;
  height: 40px;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#controls button {
  border-radius: 8px;
  width: 120px;
  height: 40px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-create] {
  background: #4E75FF;
}

[data-destroy] {
  background: #FF4E4E;
}

#boxes {
  width: 486px;
  border-radius: 8px;
  background: #F6F6FE;
  display: flex;
  gap: 16px;
  padding: 32px;
}
